#mainDiv {
  background-image: url(https://overwatchtracker.com/Images/Overwatch/home-bg2.jpg);
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Koverwatch';
  overflow: hidden;
}

#homepage {
  background-image: url('../../assets/images/724075.jpg');
  background-size: cover;
  background-color: #2f3543f3;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 89%;
  margin: 0;
}

body {
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 1em;
}

#mainDiv h3 {
  text-align: center;
  color: #fe9e09;
}

#teaser-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 15%;
}

#teaser-container div {
  background: rgba(255, 255, 255, 0.4);
  margin: 0 20px;
  width: 30%;
  padding: 0 20px 15px 20px;
  text-align: justify;
}
